// @mixinでスタイルを定義
@mixin boxContent {
  width: 300px;
  height: 300px;
}
// @includeで定義したスタイルの呼び出し
.main-box {
  @include boxContent;
  background: #ff0000;
}
.sub-box {
  @include boxContent;
  background: #0011ff;
}

// @mixinで引数の指定
@mixin boxContent($value) {
  width: $value;
  height: $value;
}
.main-box {
  @include boxContent(300px);
  background: #ff0000;
}
.sub-box {
  @include boxContent(100px);
  background: #0011ff;
}

// 引数の初期値を指定
@mixin boxContent($value: 300px) {
  width: $value;
  height: $value;
}
.main-box {
  @include boxContent;
  background: #ff0000;
}
// 初期値が設定されていても、別途値を渡すことが可能
.sub-box {
  @include boxContent(100px);
  background: #0011ff;
}

// 引数を複数指定することが可能
@mixin boxContent($value: 300px, $margin: 0 auto, $padding: 0) {
  width: $value;
  height: $value;
  margin: $margin;
  padding: $padding;
}
.main-box {
  @include boxContent();
  background: #ff0000;
}
// 複数指定した引数を別途指定
.sub-box {
  @include boxContent(100px, 0 50px, 20px);
  background: #0011ff;
}

// スコープの制限
.main-box {
  @mixin boxContent($value: 300px, $margin: 0 auto, $padding: 0) {
  width: $value;
  height: $value;
  margin: $margin;
  padding: $padding;
  }
  .sub-box {
  @include boxContent(100px, 0 50px, 20px);
  background: #0011ff;
  }
}
  // エラーを起こす
  // .sub-box {
  // @include boxContent(100px, 0 50px, 20px);
  // background: #0011ff;
  // }
  // 上記のコンパイル結果
  // .main-box .sub-box {
  //   width: 100px;
  //   height: 100px;
  //   margin: 0 50px;
  //   padding: 20px;
  //   background: #0011ff;
  // }

  // コンテンツブロックを渡す @content
@mixin media($media-width: 768px) {
  @media screen and (max-width: $media-width) {
    @content
  }
}
.item {
  image {
    float: left;
    // SP版
    @include media {/* この部分で@media screen and (max-width: 768px)と置き換わる */
      float: none;/* この部分が@contentの内容と置き換わる */
    }
  }
  // コンパイル後はこのような記述となる
  // .item image {
  //   float: left;
  // }
  // @media screen and (max-width: 768px) {
  //   .item image {
  //     float: none;
  //   }
  // }

  .text {
    overflow: hidden;
    margin-left: 15px;
    // SP版
    @include media {
      margin-left: 0;
    }
  }
}